.room-code {
    height: 40px;
    border-radius:  8px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #835afd;
    display: flex;
    cursor: pointer;

    div {
        background: #835afd;
        height: 100%;
        padding: 0 12px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            filter: brightness(0.9);
        }
    }

    span {
        display: block;
        align-self: center;
        flex: 1;
        padding: 0 16px 0 12px;
        width: 240px;
        font-size: 12px;
        font-weight: 500;
    }
}
